<p style="color: green"><%= notice %></p>

<%= render @band %>

<div>
  <%= link_to "Edit this band", edit_admin_band_path(@band) %> |
  <%= link_to "Back to bands", admin_bands_path %>

  <p>Shows: <%= @band.performances.count %></p>
  <p>Recordings: <%= @band.recordings.count %></p>

  <%= button_to "Destroy this band", [:admin, @band], method: :delete %>
</div>
